# Server Block for Virtual host start
server {
        listen  80;
        root /usr/share/nginx/html;
        index index.php index.html index.htm;
        server_name {{ hostname }};
  location / {
                try_files $uri $uri/ /index.php?$args;
        }
        #pass the PHP scripts to FastCGI server listening on 127.0.0.1:9$
        location ~ \.php$ {
                #fastcgi_pass 127.0.0.1:9000;
                # With php5-fpm:
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
         }
  client_max_body_size 80m;
  location ~* .(jpg|jpeg|png|gif|ico|css|js)$ {
    expires 365d;
  }
}

# Server Block for Virtual host end

# Server Block for Virtual host for https start
server {
        listen  443 ssl spdy;
        root /usr/share/nginx/html;
        index index.php index.html index.htm;
        server_name {{ hostname }};
        ssl_certificate /etc/nginx/ssl/nginx.crt;
        ssl_certificate_key /etc/nginx/ssl/nginx.key;
  location / {
                try_files $uri $uri/ /index.php?$args;
        }
        #pass the PHP scripts to FastCGI server listening on 127.0.0.1:9$
        location ~ \.php$ {
                #fastcgi_pass 127.0.0.1:9000;
                # With php5-fpm:
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
                fastcgi_param HTTPS on;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
  client_max_body_size 80m;
  location ~* .(jpg|jpeg|png|gif|ico|css|js)$ {
    expires 365d;
  }
}
# Server Block for Virtual host for https end

# Server Block for Virtual host for phpmyadmin start
server {
        listen  8080 ssl spdy;
        root /usr/share/nginx/html/phpmyadmin;
        index index.php index.html index.htm;
        server_name {{ hostname }};
        ssl_certificate /etc/nginx/ssl/nginx.crt;
        ssl_certificate_key /etc/nginx/ssl/nginx.key;
  location / {
                try_files $uri $uri/ /index.php?$args;
        }
        #pass the PHP scripts to FastCGI server listening on 127.0.0.1:9$
        location ~ \.php$ {
                #fastcgi_pass 127.0.0.1:9000;
                # With php5-fpm:
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
                fastcgi_param HTTPS on;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
  client_max_body_size 80m;
  location ~* .(jpg|jpeg|png|gif|ico|css|js)$ {
    expires 365d;
  }
}
# Server Block for Virtual host for phpmyadmin end
